<html lang="en">

<head>
    <script data-ad-client="ca-pub-5735566459843916" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>

<body>
    <center>        
        <h1> Busque no Catálogo de Materiais/Serviços </h1>        

        <form action="/search" method="get">            

            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Pesquise seu material ou serviço"
                    aria-label="Pesquise seu material ou serviço" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </form>
    </center>

        <%
            if(results){
                if(list.length > 0){
        %>
        <center>            
            <b>Resultados da pesquisa por <%= search.toUpperCase() %>:</b>
        </center>

        <table border="1">
            <thead>
                <tr>
                    <th colspan="2">Grupo Material</th>	
                    <th colspan="2">Classe Material</th>
                    <th colspan="2">Padrão Desc Material</th>
                    <th colspan="2">Codigo Material</th>
                    <th>Ind Item Sustentavel</th>
                </tr>
            </thead>
            <tbody>
                <% list.forEach(function(item){ %>
                    <tr>
                        <td><%= item.codigoGrupoMaterial %></td><td><%= item.descricaoGrupoMaterial%></td>
                        <td><%= item.codigoClasseMaterial %></td> <td><%= item.descricaoClasseMaterial%></td>
                        <td><%= item.codigoPadraoDescMaterial %></td> <td><%= item.descricaoPadraoDescMaterial%></td>
                        <td><%= item.codigoMaterial %></td> <td><%= item.descricaoMaterial%></td>
                        <td><%= item.indItemSustentavel %></td>                                              
                    </tr>
                <% }); %>                
            </tbody>
        </table>    
        <% } else{ %>
            <center>
                <h3>Nenhum resultado encontrado!</h3>
            </center>
        <% 
            }
        }
        %>
</body>

</html>